.carousel {
    width: 100%;
    .container {
        padding: 250px 30px 150px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        position: relative;

        .background-eff {
            position: absolute;
            left:-10px;
            bottom: 250px;
        }
        


        .slider-container {
            overflow: hidden;
            .effect {
                position: absolute;
                right: -51px;
                top: -15px;
            }


            position: relative;
            max-width: 1120px;
            width: 100%; 
            padding: 64px 20px 79px 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            border-radius: 24px;
            background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
            h2 {
                font-weight: 700;
                    font-size: 36px;
                    margin-bottom: 25px;

                    
            }
            .divider {
                width: 56px;
                height: 2px;
                background-color: white;
                margin-bottom: 70px;
            }
            .review {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .left {
                    display: flex;
                    align-items: center;
                    gap: 29px;
                    
                    .info {
                        display: flex;
                        flex-direction: column;
                        gap:10px ;
                        justify-content: center;
                        .name {
                            font-weight: 700;
                            font-size: 22px;
                        }
                        p {
                            font-weight: 400;
                                font-size: 18px;
                                color: rgba(255, 255, 255, 0.85);
                        }
                        

                    }

                }
                gap: 110px;
                .right {
                    p {
                        color: rgba(255, 255, 255, 0.9);
                        font-weight: 400;
                            font-size: 19px;
                            max-width: 420px;
                    }
                }


            }

        }
        .navigation-container {
            max-width: 336px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            img {
                cursor: pointer;
            }
            .dots-container {
                max-width: 94px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

        }
    }
}
 @media only screen and ( max-width:760px) {
    .carousel .container .slider-container .review {
        flex-direction: column;
    }
 }