footer{
    position: relative;
    .effect {
        position: absolute;
        right:70px;
        top: -80px;
    }
    margin-top: 200px;
    height: 432px;
    width: 100%;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        .about
        {
            display: flex;
            flex-direction: column;
            gap: 15px;
            .logo {
                display: flex;
                align-items: center;
                gap: 10px;
                .circle{
                    background-color: white;
                    border-radius: 50%;
                    color: #5B9BF3;  
                    font-size: 26px;
                    font-weight: 700; 
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 41px;
                    height: 41px;            
                }
                p {
                    color: white;
                    font-weight: 700;
                    font-size: 24px;
                }
            }
            p {
                font-weight: 300;
                max-width: 390px;
                color: white;
                
                font-size: 18px;
            }
            span {
                font-size: 16px;
                font-weight: 300;
                color: white;
            }

        }

        .section {
            h3 {
                font-weight: 700;
                font-size: 20px;
                margin-bottom: 20px;

            }
            ul {
                font-weight: 300;
                    font-size: 18px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
            }
        }



    }
}
@media only screen and (max-width : 950px) {
    footer .container {
        flex-wrap: wrap;
    }
}