.about-us {
    width: 100%;
    .container {
        display: flex;
        flex-direction: column;
        gap:    200px;
        .heathcare-providers
        {
            display: flex;
            justify-content: space-between;
            gap: 100px;
            align-items: center;
            .left {
                width: 50%;
                img {
                    width: 100%;
                    max-width: 650px;
                }

            }
            .right {
                width: 50%;
                display: flex;
                flex-direction: column;
                gap: 30px;
                h2 {
                    color: black;
                    font-size: 36px;
                    font-weight: 700;
                    max-width: 480px;

                }
                .divider {
                    width: 56px;
                    height: 2px;
                    background-color: black;
                }
                p{
                    font-weight: 300;
                        font-size: 18px;
                        max-width: 450px ;
                }
                .button {
                    @include button ;
                    margin: 0;
                }



            }

        }
        .download-our-app {
            @extend .heathcare-providers ;
            flex-direction: row-reverse;
             .right .button{
                max-width: fit-content;
                gap: 10px   ;
                padding: 12px 20px;
                span {
                    font-size: 20px;
                    font-weight: 700;
                }
             }
            
        }


    }
}
@media screen  and (max-width : 800px){
    .about-us .container .heathcare-providers {
        flex-direction: column;
        
    }
        .about-us .container .heathcare-providers .left ,.about-us .container .heathcare-providers .right {
            width: 80%;
        }
}